.content{
    display: flex;

}

#sum-label{
    border: 2px solid orange;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 20px;
}
.btn{
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}
#btn-add{
    border: 3px solid blue;
    background-color: #2589b1;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-delete{
    color: red;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 30px;
}
.input-element {
    border: 2px solid blue;
}